@font-face {
    font-family: 'Yanone';
    src: url('./Fonts/yanonekaffeesatz-variablefont_wght-webfont.woff');
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 42px;
}

.rightlinks, .leftlinks {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
}

header {
    background-image: url('./Images/land2.png');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.leftlinks a, .rightlinks a {
   margin: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Yanone;
}

nav a:hover {
    color: #03989e;
}

.social a:hover {
    color: #03989e;
}

#sociallink {
    margin-right: 10px;
}

.logoimage {
    height: 300px;
    width: 300px;
}

.rightlinks {
    text-align: center;
}

.instagramlink {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.social {
    padding: 15px 20px;
    background-color: #000;
}

.carousel {
    max-width: 85%;
    position: relative;
    margin: auto;
}

.text {
    padding: 8px 12px;
    position: absolute;
    bottom: 56px;
    background-color: rgba(255, 255, 255, 0.507);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

#notfirstimage {
    display: none;
}

.carouselimage {
    height: 625px;
    object-fit:cover;
}

#beachoutings {
    object-position: 80% 90%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.info {
    margin: 30px 75px 75px 75px;
}

section {
    font-family: Yanone;
}

section p {
    font-size: 25px;
    font-weight: bold;
}

section h1, section h2, section h3 {
    text-align: center;
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: bold;
}

.booklink {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.book {
    text-align: center;
    margin: 40px 90px 20px 90px;
    font-size: 22px;
}

.book p {
    font-size: 25px;
}

.book a {
    font-size: 25px;
}

.contact {
    text-align: center;
}

.phonelink {
    font-size: 30px;
    text-decoration:underline;
    font-weight: bold;
}

form {
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    padding: 50px 30px;
    background: linear-gradient(0deg, rgba(255, 154, 59, 0.404), rgba(255, 154, 59, 0.404)), url('./Images/beachbird.jpg');
    background-size: cover;
    background-position: 20% 30%;
}

.nameinput, .emailinput {
    padding: 5px 20px;
    margin-bottom: 10px;
}

#form-message {
    padding: 5px 20px;
}

.submitform {
    background-color: #000;
    color: #fff;
    border-style: solid;
    padding: 10px 40px;
    font-size: 20px;
    font-family: Yanone;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

footer {
    background-color: #000;
    color: #fff;
    font-family: Yanone;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

@media all and (min-width: 640px) and (max-width: 800px) {
   .logoimage {
     height: 75px;
     width: 75px;
   }

   nav {
     font-size: 20px;
   }

   header {
       height: 90px;
   }
   
   .leftlinks a, .rightlinks a {
       margin: 0 2px;
   }

   .instagramlink {
       font-size: 16px;
   }

   .carousel {
       max-width: 85%;
   }

   .carouselimage {
       height: 295px;
   }

   .info {
       margin: 25px;
   }

   .book {
       margin: 45px 20px 10px 20px;
   }

   fieldset {
     margin: 20px;
     padding: 5px;
     max-width: 100%;
   }

   form {
       padding: 35px 20px;
   }
}

@media all and (min-width: 321px) and (max-width: 639px) {
    fieldset {
        display: inline-block;
        width: 0px;
    }    

    .logoimage {
        height: 50px;
        width: 50px;
      }
   
      nav {
        margin-top: 15px;
        font-size: 19px;
      }

      .instagramlink {
          font-size: 17px;
      }
      
      h1, h2, h3 {
          font-size: 20px;
      }
   
      header {
          height: 60px;
      }
      
      .leftlinks a, .rightlinks a {
          margin: 0 5px;
      }
   
    .instagramlink {
        font-size: 11px;
    }

    .social {
        padding: 8px 5px;
    }

    .carouselimage {
        height: 400px;
    }

    .info {
        margin: 15px 20px;
        font-size: 13px;
    }

    .numberform {
        margin-bottom: 10px;
    }

    form {
        padding: 25px 15px;
    }
}

@media all and (min-width: 281px) and (max-width: 320px) {
    nav {
        font-size: 16px;
    }

    header {
        height: 60px;
        margin-top: 10px;
    }

    .logoimage {
        height: 50px;
        width: 50px;
    }

    .info {
        margin: 10px 25px;
    }

    .carouselimage {
        height: 350px;
    }

    .book {
        margin: 25px 20px;
    }

    .instagramlink {
        font-size: 17px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .phonelink {
        font-size: 17px;
    }

    .numberform {
        margin-bottom: 15px;
    }

    form {
        padding: 20px 10px;
    }
}

@media all and (min-width: 0px) and (max-width: 280px) {
    .logoimage {
        height: 50px;
        width: 50px;
    }

    nav {
        font-size: 12px;
    }

    header {
        height: 60px;
    }

    .instagramlink {
        font-size: 11px;
    }

    .carouselimage {
        height: 360px;
    }

    .info {
        margin: 20px;
    }

    .book {
        margin: 20px 22px;
    }

    .phonelink {
        font-size: 18px;
        margin-bottom: 20px;
    }

    fieldset {
        flex-direction: column;
    }

    form {
        padding: 15px 10px;
    }
}